@model Controle_Financeiro.Models.Receita

@{
    ViewData["Title"] = "Detalhes do Receita";
}

<h2>Detalhes</h2>

<div>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Tipo)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Tipo)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Valor)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Valor)
        </dt>
    </dl>
</div>
<a asp-action="Editar" asp-route-id="@Model.Id">Editar</a> |
<a asp-action="Index">Voltar</a>